body {
    background-color: burlywood;
}
.header {
    text-align: center;
    background-color: darkgrey;
    }
    
.button{
    background-color: blue;
}

.task{
    color: blueviolet;
}

.card{
    color: brown;
}


    

